spring-social/HELP.md

spring-social/target/

spring-social/!.mvn/wrapper/maven-wrapper.jar
spring-social/
!**/src/main/**
spring-social/
!**/src/test/**



### STS ###

spring-social/.apt_generated

spring-social/.classpath

spring-social/.factorypath

spring-social/.project

spring-social/.settings
spring-social/
.springBeans

spring-social/.sts4-cache



### IntelliJ IDEA ###
spring-social/
.idea

spring-social/*.iws
spring-social/
*.iml
spring-social/
*.ipr


